header {
    background-color: navy;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 231px;
    height: 139px;
    margin-bottom: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: lightgray;
    transform: scale(1.1);
  }
  
  
  form {
    display: grid;
    grid-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  
  button {
    background-color: navy;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: darkblue;
  }
  
  #testimonials {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }
  
  .small-image {
    max-width: 300px;
    max-height: 300px;
  }
  